<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
                         <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
             <title>Roll Dice</title>
</head>
<body>

    <h3>Guess a number</h3>

    <a href="/roll-dice/1">one</a>
    <br/>
    <a href="/roll-dice/2">two</a>
    <br/>
    <a href="/roll-dice/3">three</a>
    <br/>
    <a href="/roll-dice/4">four</a>
    <br/>
    <a href="/roll-dice/5">five</a>
    <br/>
    <a href="/roll-dice/6">six</a>

</body>
</html>